log4j.rootCategory=INFO,CONSOLE,NSWT

log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
log4j.appender.CONSOLE.layout=org.apache.log4j.PatternLayout
log4j.appender.CONSOLE.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n
#log4j.appender.CONSOLE.layout.ConversionPattern=%p: %d{yyyy-MM-dd HH:mm:ss} %C.%M(%L)%n%m%n

log4j.appender.NSWT=org.apache.log4j.DailyRollingFileAppender
log4j.appender.NSWT.File=%{ContextRealPath}/WEB-INF/logs/out
log4j.appender.NSWT.DatePattern='_'yyyyMMdd'.log'
log4j.appender.NSWT.Threshold=DEBUG
log4j.appender.NSWT.layout=org.apache.log4j.PatternLayout
log4j.appender.NSWT.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n