<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>${catalog.name}</title>
<link href="../images/style.css" type="text/css" rel="stylesheet" />
</head>
<style type="text/css">
.changeBox_style359{
	_height:272px;
	}
#change_359{
	_height:272px;
	}
</style>
<body>
<cms:include file="include/head.html"></cms:include>
<table class="Table" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td  align="left" valign="top">
		<table width="100%"  border="0" align="left" cellpadding="0" cellspacing="0">
			<tr><td height="6"></td></tr>
		  <tr>
			<td class="TitleTxt03">&gt;&gt;<cms:link type="currentposition" split=">"></cms:link></td>
		  </tr>
		  <tr>
			<td colspan="2" class="bgImg01">核心要闻</td>
		  </tr>
		  <tr>
			<td class="tdBorder03">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">				  
				  <tr>
					<td valign="top" width="42%" style="border-right:1px solid #C7C9CB;">
					<cms:imageplayer code="新闻图片播放器" count="4">{nswtp图片播放器}</cms:imageplayer>
					</td>
					<td width="58%" valign="top">
						<table width="100%" border="0" cellspacing="5" cellpadding="3">
                        <cms:list item="article" type="recent" count="1" name="新闻中心/集团新闻">
						  <tr>
							<td colspan="2" class="TitleTxt02"><a href="${article.link}">${article.title|charwidth=40}</a></td>
						  </tr>
                        
						  <tr>
							<td colspan="2" style="line-height:25px; text-indent:24px;">${article.summary|charwidth=150}</td>
						  </tr>
                          </cms:list>
						  <tr>
							<td colspan="2" align="right"><a class="Txt02" href="<cms:link type="catalog" name="新闻中心/集团新闻"></cms:link>">&gt;&gt;了解更多</a></td>
						  </tr>	
                            <cms:list item="article" type="recent" count="3" begin="1" name="新闻中心/集团新闻">	
						  <tr>
							<td align="left" class="td_dashed list"><a href="${article.link}" class="Txt01">${article.title|charwidth=26}</a></td>
							<td align="right" class="td_dashed">${article.publishdate|format=yyyy-MM-dd}</td>
						  </tr>
						</cms:list>			  				  
						</table>
					</td>
				  </tr>
				</table>
			</td>
		  </tr>
		  
	  	  <tr><td height="10"></td></tr>
		  
		  <tr>
			<td align="center">
				<table width="100%"  border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td align="left" width="49%">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td class="TitleTxt03"><a href="<cms:link type="catalog" name="新闻中心/基础院公告"></cms:link>" class="menuTxt01">基础院新闻</a></td>
						  </tr>
						  <tr>
							<td class="line2"></td>
						  </tr>
						  <tr>
							<td class="tdBorder04 con" valign="top">
								<table width="100%" border="0" cellspacing="4" cellpadding="3">	
                                   <cms:list item="article" type="recent" count="2" name="新闻中心/基础院新闻">							  
								  <tr>
									<td align="left" class="td_dashed list"><a href="${article.link}" class="Txt01">${article.title|charwidth=20}</a></td>
									<td align="right" class="td_dashed">${article.publishdate|format=yyyy-MM-dd}</td>
								  </tr>
                                  </cms:list>
								  <tr>
									<td colspan="2" align="right"><a class="Txt02" href="<cms:link type="catalog" name="新闻中心/基础院公告"></cms:link>">&gt;&gt;更多</a></td>
								  </tr>								  
								</table>
							</td>
						  </tr>
						</table>
					</td>
					<td width="2%"></td>
					<td width="49%" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" >
						  <tr>
							<td class="TitleTxt03"><a href="<cms:link type="catalog" name="新闻中心/成员动态"></cms:link>" class="menuTxt01">成员动态</a></td>
						  </tr>
						  <tr>
							<td class="line2"></td>
						  </tr>
						  <tr>
							<td class="tdBorder04 con" valign="top">
								<table width="100%" border="0" cellspacing="4" cellpadding="3" height="95">								  
								  <tr>
								    <td valign="top" align="left" style="text-indent:20px;">建设中</td>
								  </tr>					  
								</table>
							</td>
						  </tr>
						</table>
					</td>
				  </tr>
				</table>
			</td>
		  </tr>
		  
		  <tr>
			<td align="center" style="padding-top:10px;">
				<table width="100%"  border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td align="left" width="32%" valign="top" >
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td class="TitleTxt03"><a  class="menuTxt01" href="<cms:link type="catalog" name="新闻中心/基础院公告"></cms:link>">基础院公告</a></td>
						  </tr>
						  <tr>
							<td class="line2"></td>
						  </tr>
						  <tr>
							<td class="tdBorder04 con" valign="top">
								<table width="100%" border="0" cellspacing="4" cellpadding="3" height="95">								  
								  <tr>
									 <td valign="top" align="left" style="text-indent:20px;">建设中</td>
								  </tr>				  
								</table>
							</td>
						  </tr>
						</table>
					</td>
					<td width="2%"></td>
					<td align="left" width="32%" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td class="TitleTxt03"><a href="<cms:link type="catalog" name="新闻中心/行业动态"></cms:link>" class="menuTxt01">行业动态</a></td>
						  </tr>
						  <tr>
							<td class="line2"></td>
						  </tr>
						  <tr>
							<td class="tdBorder04 con" valign="top">
								<table width="100%" border="0" cellspacing="4" cellpadding="3">		
                                 <cms:list item="article" type="recent" count="2" name="新闻中心/行业动态">							  
								  <tr>
									<td align="left" class="td_dashed list"><a href="${article.link}" class="Txt01">${article.title|charwidth=12}</a></td>
									<td align="right" class="td_dashed">${article.publishdate|format=yyyy-MM-dd}</td>
								  </tr>
                                  </cms:list>
								  <tr>
									<td colspan="2" align="right"><a href="<cms:link type="catalog" name="新闻中心/行业动态"></cms:link>" class="Txt02">&gt;&gt;更多</a></td>
								  </tr>								  
								</table>
							</td>
						  </tr>
						</table>
					</td>
					<td width="2%"></td>
					<td width="32%" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td class="TitleTxt03"><a href="<cms:link type="catalog" name="新闻中心/媒体聚焦"></cms:link>" class="menuTxt01">媒体聚焦</a></td>
						  </tr>
						  <tr>
							<td class="line2"></td>
						  </tr>
						  <tr>
							<td class="tdBorder04 con">
								<table width="100%" border="0" cellspacing="4" cellpadding="3">		
                                 <cms:list item="article" type="recent" count="2" name="新闻中心/媒体聚焦">	
                                						  
								  <tr>
									<td align="left" class="td_dashed list"><a href="${article.link}" class="Txt01">${article.title|charwidth=12}</a></td>
									<td align="right" class="td_dashed">${article.publishdate|format=yyyy-MM-dd}]</td>
								  </tr>
                                  </cms:list>
								  <tr>
									<td colspan="2" align="right"><a href="<cms:link type="catalog" name="新闻中心/媒体聚焦"></cms:link>" class="Txt02">&gt;&gt;更多</a></td>
								  </tr>								  
								</table>
							</td>
						  </tr>
						</table>
					</td>
				  </tr>
				</table>
			</td>
		  </tr>
	  
	  </table>
	</td>
  </tr>
</table>
<cms:include file="include/footer.html"></cms:include>
<script>
var curCatalogInnerCode="${Catalog.InnerCode}";//获取当前页面所在栏目的InnerCode，这句不能够写在外部js文件里
for(var i=1,len=curCatalogInnerCode.length; i<len/6+1; i++){
    var innerCode=curCatalogInnerCode.substring(0,i*6);
    var catalogElement=document.getElementById(innerCode);
    if(catalogElement){
        catalogElement.className+=" current";
    }
}
</script>
</body>
</html>
